@import "../../../sassStyles/mixins";
@import "../../../sassStyles/variables";

.landingCover {
  flex: 1 0 0;
  border-radius: $border-radius-lg;
  overflow: hidden;
  position: relative;

  @include mdMinBreakPoint {
    border-radius: 0 $border-radius-lg $border-radius-lg 0;
  }
}
.landingImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  aspect-ratio: 2.5 / 3;
}
