@import "../../../sassStyles/variables";

.details {
  display: flex;
  flex-direction: column;
  gap: $unit-72;
  flex: 1 0 0;
  justify-content: space-between;

  &__header {
    background-color: transparent;
  }
  &__logo {
    width: 58px;
    height: 48px;
    display: block;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-200;
    flex: 1 0 0;
  }
  &__bodyHeader {
    display: flex;
    flex-direction: column;
    gap: $space-100;
    margin-bottom: $space-200;
  }
  &__subtitle {
    color: $color-secondary-purple-700;
    font-size: $font-size-text-base;
    font-weight: $font-weight-semibold;
    line-height: 19.2px;
    letter-spacing: $letter-spacing-dense;
    margin: 0;
  }
  &__title {
    color: $color-neutral-slate-900;
    font-size: $font-size-text-8xl;
    font-weight: $font-weight-extrabold;
    line-height: 52.8px;
    letter-spacing: $letter-spacing-densest;
    margin: 0;
  }
  &__copy {
    color: $color-neutral-gray-600;
    font-size: $font-size-text-md;
    font-weight: $font-weight-regular;
    line-height: 22.5px;
  }
  &__buttons {
    display: flex;
    flex-flow: row wrap;
    margin-top: $space-400;
  }
  &__footer {
    display: flex;
    flex-flow: row wrap;
    gap: $space-700;
  }
  &__footerItem {
    display: flex;
    flex-flow: column wrap;
    gap: $space-050;
    font-size: $font-size-text-sm;
    color: $color-neutral-slate-800;
  }
  &__footerItemHeader {
    color: $color-secondary-purple-800;
    text-transform: uppercase;
    font-size: $font-size-text-xs;
    font-weight: $font-weight-medium;
  }
}
