

.selected {
    background-color: lightblue;
}

.numeric-scale-option{
    width: 18%;
}

.next-question-btn{
    background-color:#0063B8
}
.rating-label{
    font-size: 10px;
    width: 18%;
}